hostname = 'localhost'
port = 5000

gif_enable = True
gif_command = "/gif"

redmine_enable = True
redmine_command = "/link_redmine"
redmine_url = "https://redmine.org/"
# set to None to disable fetching of issue data
redmine_key = None

github_enable = True
github_command = "/github"

vote_enable = True
vote_command = "/voting"
